img{
    padding-top:80px ;
}

h1{
    font-size: 50px;
    font-weight: 700;
}

.container{
    background-image: url(https://megaone.acrothemes.com/product-hotspot/images/banner.jpg);
    background-color: aquamarine;
    height: 100vh;
}